---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About - Tiwa Adejuyigbe">
  <div class="prose dark:prose-invert max-w-none">
    <h1>Tiwa Adejuyigbe</h1>

    <h2>About me</h2>
    <ul>
      <li>Politics @ UCL, OM 21</li>
      <li>Currently building: N/A</li>
      <li>Currently reading: "Why We Die" by Venki Ramakrishnan</li>
    </ul>

    <h2>Projects</h2>
    <p>Here are some things I’ve worked on over the last year...</p>
    <ul>
      <li><strong>Brade:</strong> Plug-and-play automated accounting for the beauty service industry. Promising, but failed to validate.</li>
      <li><strong>Almanac:</strong> Reddit-style forum for alumni Q&As, mentorship & career networking. I built this for my alma mater.</li>
      <li><strong>Leftwrite AI:</strong> Self-learning writing & publishing companion built for Substack. Open beta TBD.</li>
    </ul>

    <h2>Tools</h2>
    <p>Here are some things I’ve built for myself...</p>
    <ul>
      <li><strong>Frugal Friday:</strong> Helped monitor my spending limit on Black Friday. A few friends also found it useful.</li>
      <li><strong>Lean Screen:</strong> Calculates my annualised screen time. LS was inspired by the GitHub commit tracker.</li>
    </ul>

    <h2>Writing</h2>
    <p>I publish my thoughts on Substack every week. Here are a few of my favourite posts...</p>
    <ul>
      <li><a href="https://shortdecades.com/p/savings-or-current"><strong>Savings or Current:</strong></a> Reflections on naive Nigerian patriotism.</li>
      <li><a href="https://shortdecades.com/p/discontent"><strong>Discontent:</strong></a> Discussing the implications of the social-network/media dichotomy.</li>
      <li><a href="https://shortdecades.com/p/african-intelligence"><strong>African Intelligence:</strong></a> Foreshadowing the assetisation of Afrobeats through a neocolonial lens.</li>
      <li><a href="https://shortdecades.com/p/yeah-write"><strong>Yeah, Write:</strong></a> On writing & agency in the technosphere.</li>
    </ul>

    <h2>More Writing</h2>
    <p>I occasionally write about startups I admire and my learnings as a first-time founder...</p>
    <ul>
      <li><a href="https://t18e.com/less-is-mrr"><strong>Less is MRR:</strong></a> Why simplicity wins.</li>
      <li><a href="https://t18e.com/perplexed"><strong>Perplexed City:</strong></a> The moat GOAT.</li>
      <li><a href="https://t18e.com/stripo"><strong>StrIPO:</strong></a> Series I > IPO.</li>
      <li><a href="https://t18e.com/claude-9"><strong>On Claude 9:</strong></a> Marketing means more.</li>
      <li><a href="https://t18e.com/friend-request"><strong>Friend Request:</strong></a> Please fix, thanks.</li>
    </ul>

    <h2>Contact</h2>
    <ul>
      <li><a href="https://x.com/teadejuyigbe"><strong>X/Twitter</strong></a></li>
      <li><a href="https://www.linkedin.com/in/tiwa-adejuyigbe"><strong>LinkedIn</strong></a></li>
    </ul>

    <hr />
   
  </div>
</Layout>
